@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: 1px solid #c7aed3;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

html {
    font-size: 100%;
    /* background-image: url("../img/back.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

body {
    width: 375px;
    margin-inline: auto;
}

header {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 80px;
}

.header_content {
    /* 上 | 左右 | 下 */
    /* 上 | 右 | 下 | 左 */
    /* margin-right: 12.9%; */
    margin-left: 10.5%;

    /* justify-content: space-between; */
    margin-inline: auto;
    margin-bottom: 21px;

}

h1 {
    margin-left: 8%;
    font-weight: normal;
    /* font-size: 20px; */
    font-size: 1.25rem;
    /* margin-right: auto; */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header>img {
    display: inline-block;
    /* max-width: 76.8%; */
    /* width: 76.8%; */
    object-fit: cover;
    /* margin-inline: auto; */
    vertical-align: bottom;
}

header img {
    object-fit: cover;
}

/* CONCEPT */
#concept {
    max-width: 76.8%;
    width: 76.8%;
    margin-inline: auto;
}

h2 {
    /* font-size: 16px; */
    font-size: 1rem;
    font-family: "EB Garamond", serif;
    font-weight: normal;
    letter-spacing: 0.1rem;
    font-optical-sizing: auto;
    font-style: normal;
    color: #4F4E4E;
}

/* #concept h2 {

} */

#concept h3 {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-size: 0.8125rem;
    font-weight: normal;
    font-style: normal;
    color: #948D81;
    margin: 0.5rem 0;
}

#concept p {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    color: #4F4E4E;
}

/* MENU */
#menu {
    padding-top: 1px;
    margin-top: 50px;
    background-image: url("../img/menu_background.png");
    background-size: contain;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* max-width: 76.8%; */
    /* width: 76.8%; */
    width: 100%;
    margin-inline: auto;
    height: 530px;
}

#menu h2 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 27px;
}

#menu img {
    display: inline;
}

ul {
    /* width: 255.63px; */
    width: 226px;
    margin-inline: auto;
}

li {
    list-style-image: url("../img/scissors.png");
    /* list-style-position: inside; */
    /* list-style: none; */
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-size: 0.8125rem;
    font-weight: normal;
    font-style: normal;
    color: #4F4E4E;
    margin-bottom: 15px;
}

li:nth-last-of-type(1) {
    font-family: "Yaldevi", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-weight: 600;
    font-style: normal;
    font-size: 0.625rem;
    text-align: end;
    letter-spacing: 0.3em;
    list-style: none;
    position: relative;
}

li:nth-last-of-type(1)::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../img/right_arrow.png"), url("../img/right_arrow.png");
    /* background-position: center; */
    background-position: left, right;
    background-size: contain, contain;
    position: absolute;

    background-repeat: no-repeat, no-repeat;
    /* vertical-align: middle; */
    /* background: url("../img/right_arrow.png") no-repeat left ,url("../img/right_arrow.png") no-repeat right; */
    right: -1.5em;
    top: 50%;
    transform: translateY(-50%);

}

span {
    /* display: inline-block; */
    font-size: 0.6875rem;
    text-align: end;
    display: block;
}

dl {
    justify-content: space-between;
}

#style {
    /* max-width: 76.8%; */
    /* width: 76.8%; */
    max-width: 84%;
    width: 84%;
    margin-inline: auto;
    margin-top: 20px;
}

#style>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#style>div>div {
    height: 309px;
}

#style>div>div:nth-of-type(1) {
    display: flex;
    flex-flow: column;
    justify-content: end;
}

#style>div>div:nth-of-type(2) {
    text-align: end;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#style h2 {
    position: relative;
    margin-bottom: 10px;
}

#style h2::after {
    content: "";
    /* display: inline-block; */
    width: 70px;
    height: 60px;

    background-image: url("../img/Line4.png");
    background-position: center;
    /* background-position: right; */
    background-size: contain;
    position: absolute;

    background-repeat: no-repeat;
    left: 20px;
    top: -40px;
    /* transform: translateY(-50%); */
    /* transform: rotate(45deg); */
    /* background-color: #eacdf8; */
    /* background-size: cover; */
}

#style a {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    color: #4F4E4E;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border: 1px solid #4F4E4E;
    padding: 1.04% 15%;
    /* width:fit-content; */
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: auto;
    position: relative;
    margin-right: 6%;
}

#style a::before {
    content: "";
    /* display: inline-block; */
    width: 0.5px;
    height: 33px;

    /* background-image: url("../img/Line7.png"); */
    /* background-position: center; */
    /* background-position: right; */
    /* background-size: contain; */
    position: absolute;

    /* background-repeat: no-repeat; */
    left: 15%;
    bottom: 50%;
    background-color: #c0bebe;
}

#style a::after {
    content: "";
    /* display: inline-block; */
    width: 27px;
    width: 20px;
    height: 3px;
    height: 0.5px;

    /* background-image: url("../img/Line1.png"); */
    background-position: center;
    /* background-position: right; */
    background-size: contain;
    position: absolute;

    background-repeat: no-repeat;
    /* left: 0px; */
    top: 50%;
    right: -20%;
    right: -15%;
    background-color: #c0bebe;
    /* background-color: #c7aed3; */
}

#salon {
    margin-top: 120px;
    background-image: url("../img/salon.png");
    background-size: contain;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* max-width: 76.8%; */
    /* width: 76.8%; */
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 249.59px;
}

#salon h2 {
    position: absolute;
    bottom: 28px;
    left: 28px;
    width: 125px;
    /* padding: 1%; */
    border: 1px solid #fff;
}

#salon a {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    color: #D9D9D9;
    letter-spacing: 0.1rem;
    text-decoration: none;
    /* width:fit-content; */
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: 6%; */
    position: relative;
}

#salon a::after {
    content: "";
    display: inline-block;
    width: 47px;
    /* width: 70px; */
    /* width: 20px; */
    height: 3px;
    /* height: 0.5px; */

    background-image: url("../img/Line2.png");
    background-position: center;
    background-position: right;
    background-size: contain;
    background-size: 47px;
    position: absolute;

    background-repeat: no-repeat;
    /* left: 0px; */
    top: 50%;
    right: -17%;
    right: -30%;
    /* right: -15%; */
    /* background-color: #c0bebe; */
    /* background-color: #c7aed3; */
}

#product {
    width: 288px;
    max-width: 288px;
    margin-inline: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

#product h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product a {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    color: #4F4E4E;
    font-size: 0.5rem;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border: 0.5px solid #4F4E4E;
    padding: 1% 9%;
    position: relative;
    /* align-items: center; */
    /* text-align: center; */
    cursor: pointer;
}

#product a::after {
    content: "";
    display: inline-block;
    width: 27px;
    /* width: 20px; */
    height: 3px;
    /* height: 0.5px; */

    background-image: url("../img/Line3.png");
    background-position: center;
    background-position: right;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    /* left: 0px; */
    top: 45%;
    right: -15%;
    /* right: -15%; */
    /* background-color: #c0bebe; */
    /* background-color: #c7aed3; */
}

#news {
    background-color: #DCE8EF;
    height: 169px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.news_content {
    width: 287px;
    max-width: 287px;
    margin-inline: auto;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.news_content a {
    font-family: "Yaldevi", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 0.625rem;
    /* text-align: end; */
    letter-spacing: 0.3em;
    list-style: none;
    position: relative;
    color: #4F4E4E;
    text-decoration: none;
    margin-right: 15px;
}

.news_content a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../img/right_arrow.png"), url("../img/right_arrow.png");
    /* background-position: center; */
    background-position: left, right;
    background-size: contain, contain;
    position: absolute;

    background-repeat: no-repeat, no-repeat;
    /* vertical-align: middle; */
    /* background: url("../img/right_arrow.png") no-repeat left ,url("../img/right_arrow.png") no-repeat right; */
    right: -1.5em;
    top: 40%;
    transform: translateY(-50%);
}

#news dl {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    color: #4F4E4E;
    margin: 1rem 0;
}

.news_content dt:nth-of-type(1),
.news_content dd:nth-of-type(1) {
    border: none;
    border-top: 1px solid #4F4E4E;
}

.news_content dt {
    width: 30%;
    /* margin-top: -1px; */
    padding: 4px 0;
    border: 1px solid #4F4E4E;
    border-left: none;
    border-right: none;
}

.news_content dd {
    width: 70%;
    /* margin-left: -2px; */
    padding: 4px 0;
    border: 1px solid #4F4E4E;
    border-left: none;
    border-right: none;
}

#reservation {
    margin-top: 70px;
    background-image: url("../img/reservation.png");
    background-size: contain;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* max-width: 76.8%; */
    /* width: 76.8%; */
    width: 287px;
    margin-inline: auto;
    position: relative;
    height: 186px;
}

.reservation_group {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 118.82px;
}

.reservation_group p {
    /* padding: 2%; */
    display: flex;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 0.375rem;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    letter-spacing: 0.1rem;
    /* text-decoration: none; */
    /* width:fit-content; */
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: 6%; */
    /* background-color: #4F4E4E; */
    width: 100%;
}

.reservation_group a {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    /* padding: 2% 20%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: end;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 0.8125rem;
    font-weight: normal;
    font-style: normal;
    color: #D9D9D9;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border: 1px solid #fff;
    height: 24px;
}

.reservation_group a::before {
    content: "";
    /* display: inline-block; */
    width: 0.5px;
    /* width: 3px; */
    height: 33px;

    /* background-image: url("../img/Line7.png"); */
    /* background-position: center; */
    /* background-position: right; */
    background-size: contain;
    position: absolute;

    /* background-repeat: no-repeat; */
    left: 10px;
    bottom: 80%;
    background-color: #c0bebe;
}


footer {
    margin-top: 80px;
    text-align: center;
}

footer img {
    object-fit: cover;
}

footer p {
    margin-top: 20px;
    color: #fff;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.1rem;
    background-color: #A2BECE;
    /* padding: 5% 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}

/* アニメーション */

.mainvisual {
    max-width: 76.8%;
    width: 76.8%;
    height: 461px;
    /* min-height: 461px; */
    margin-inline: auto;
    /* margin-left: 11.6%; */
    /* margin-right: 11.6%; */
}

.mainvisual img {
    /* width: 76.8%; */
    /* max-width: 76.8%; */
    position: absolute;
    /* height: 461px; */
    /* 初期表示位置 (画面外) */
    /* top: -100px; */
    /* left: -100px; */
    left: -10%;
    /* 上から100px外 */
    /* left: 50%; */
    transform: translateX(-50%);
    opacity: 0;
    /* 透明度0 */
    transition: all 1.5s ease-in-out;
    /* 全てのプロパティを1秒かけて滑らかに変化 */
    /* transition: all 1.5s linear; */
    /* transition: all 1.5s ease-in; */
    /* transition: all 1.5s ease-out; */
    object-fit: cover;
}

/* アニメーション開始トリガー (例: 画面表示時) */
.mainvisual img.show {
    /* top: 100px; */
    left: 50%;
    /* left: calc(10% + 150px); */
    /* left: calc(38% + 188px); */
    /* right: 0; */
    /* 画面内へ移動 */
    opacity: 1;
    /* 透明度1 */
}

/* 特定の範囲にスクロールされたら画像を表示する */
/* https://mukuchi.work/fadeconts/ */

.style1 {
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.style1.show {
    opacity: 1;
}

#product {
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

#product.show {
    opacity: 1;
}

/* 541px以上 */
@media only screen and (min-width: 541px) {
    /* .mainvisual img.show {
        left: calc(50%);
    } */
}